@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";
@import "tailwindcss/utilities";

@theme {
  --color-body: rgba(0, 0, 0, 1);
  --color-portfolio: #212121;
  --color-footer: #000;

  --color-menu-bg: #000000;
  --color-hero-overlay: rgba(0, 0, 0, 0.30);

  --color-primary: #F07232;
  --color-secondary: #fff;

  --color-accordion-primary: #000000;
  --color-accordion-secondary: #000000;

  --color-link: #F07232;

  /*form colors*/
  --color-dark-slider: #777;
  --color-form-border: rgba(119, 119, 119, 0.95);
  --color-form-btn: rgba(119, 119, 119, 0.95);
  --color-focus-border: #E54E41;
  --color-form-bg: #E54E41;
  --color-input-custom: #777;

  /* btn custom */
  --color-btn-border: rgba(240, 114, 50, 1);
  --color-btn-text: rgba(240, 114, 50, 1);
  --color-button-hover-bg: #E23E3C;


  /* hero gradient-fog */
  --gradient-hero-fog: linear-gradient(to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9) 15%,
      rgba(0, 0, 0, 0.2) 46%,
      rgba(0, 0, 0, 0) 100%);
  /* footer-color */
  --color-primary-footer: #fff;
  --color-secondary-footer: #F07232;

  /* fonts */
  --font-cormorant: "Cormorant", serif;
  --font-quicksand: "Quicksand", sans-serif;
}

:root {
  --font-quicksand: "Quicksand", sans-serif;
}

html {
  font-family: var(--font-quicksand);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--color-body);
  color: var(--color-secondary);
  list-style: none;
  overflow-x: hidden;
}

.hero-fog {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 520px;
  /* або h-20 */
  pointer-events: none;
  background: var(--gradient-hero-fog);
  z-index: 2;
}